<h2 mat-dialog-title style="display: flex;flex-direction: row; align-items: center">
    <mat-icon>bookmark</mat-icon>
    <div class="m-0 ms-2" style="flex:auto">{{data.label}}</div>
    <button mat-icon-button color="basic" style="align-self:flex-end" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<mat-divider></mat-divider>
<mat-dialog-content>
    <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>link</mat-icon>
          <div mat-line><a href="{{data.url}}" target="_blank">{{data.url}}</a></div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>description</mat-icon>
          <div mat-line ><p>{{data.description}} Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              <br>when an unknown printer took a galley of type and scrambled it to make a type specimen book</p></div>
        </mat-list-item>
      </mat-list>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
    <!--button mat-raised-button type="reset" color="basic" class="me-2" (click)="setForm()">Reset</button>
    <button mat-raised-button type="submit" color="accent" (click)="save()">Save</button -->
</mat-dialog-actions>