<app-toolbar></app-toolbar>
<div class="container-fluid">
    <div class="row py-3 px-2">
        <div class="col-lg-2">
            <app-sidemenu></app-sidemenu>
        </div>
        <div class="col-lg-10">
            <mat-card>
                <div class="app-table-action" style="display: flex;">
                    <mat-card-header style="flex:auto">
                        <div mat-card-avatar>
                            <mat-icon style="font-size: 47px">dashboard</mat-icon>
                        </div>
                        <mat-card-title>Dashboard</mat-card-title>
                        <mat-card-subtitle>Welcome to the proteus app dashboard</mat-card-subtitle>
                    </mat-card-header>
                    <div class="width:10%">
                        
                    </div>
                </div>
            </mat-card>
            <div class="row">
                <div class="col-7">
                    <app-activity-view [filter]="filterActivity" [limit]="10"></app-activity-view>
                </div>
                <div class="col-5">
                    <app-chart-pie></app-chart-pie>
                </div>
            </div>
           
        </div>
    </div>
</div>