/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap-icons/font/bootstrap-icons';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/img/background.png');
  background-size: 804px;
  background-color: #ffffff;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a,
a:hover {
  text-decoration: none;
  color: rgb(16, 16, 16)
}

a:hover {
  color: rgb(136, 0, 127)
}

.text-warn {
  color: #f44336 !important;
}

.disable {
  color: #ccc !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 13px !important;
  padding-right: 15px !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0px 3px !important;
}