<h2 mat-dialog-title style="display: flex;flex-direction: row; align-items: center">
    <mat-icon>category</mat-icon>
    <div class="m-0 ms-2" style="flex:auto">Add tag</div>
    <button mat-icon-button color="basic" style="align-self:flex-end" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<form class="book-form" [formGroup]="form" novalidate (ngModel)="form">
    <mat-dialog-content>
        <div class="form-body">
            <mat-form-field class="w-100 mb-2" appearance="fill">
                <mat-label>Label</mat-label>
                <input matInput formControlName="label" id="label">
                <mat-hint *ngIf="submitted && f.label.errors" color="warn">
                    <div class="text-warn" *ngFor="let item of f.label.errors | keyvalue">
                        {{logError(item.key, item.value)}}
                    </div>
                </mat-hint>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <app-tag-input [label]="tagInputLabel" [placeholder]="tagInputPlaceholder" [tags]="data.translations" (outTag)="setTags($event)"></app-tag-input>
    <mat-dialog-actions style="justify-content: flex-end;">
        <button mat-raised-button type="reset" color="basic" class="me-2" (click)="setForm()">Reset</button>
        <button mat-raised-button type="submit" color="accent" (click)="save()">Save</button>
    </mat-dialog-actions>
</form>